{% block footer %}
<div class="footer">
  <img src="static/financetransparentlogo.png" alt="">
  <p>Developed by <a href="https://smiictinstitute.onrender.com/" class="portfolio-web">SMI ICT Solutions</a> | Copyright &copy; 2025</p>
  <div class="social-icons">
    <img src="/static/linkedin.png" alt="linkedin">
    <img src="/static/instagram.png" alt="instagram">
    <img src="/static/facebook.png" alt="facebook">
    <img src="/static/youtube.png" alt="youtube">
  </div>
</div>
{% endblock %}