{% extends "base.html" %}

{% block register %}
<div class="registration-container">
  <div class="form-header">
    <h3>Register for Finance Tracker</h3>
    <p>All fields are required to be filled</p>
  </div>
  <form action="">
    <input type="text" class="r-input" placeholder="Fullname">
    <input type="email"  class="r-input" placeholder="Email Address">
    <input type="number"  class="r-input" placeholder="Mobile Number">
    <input type="text"  class="r-input" placeholder="Username">
    <input type="text"  class="r-input" placeholder="Password">
    <input type="text"  class="r-input" placeholder="Confirm Password">
    <input type="button"  class="r-input r-btn" value="Register">
  </form>
</div>
{% endblock %}